version: 2
updates:
  - package-ecosystem: "cargo"
    directories:
      - "acme"
      - "e2e-identity"
      - "ffi"
      - "jwt"
      - "test-wire-server"
      - "x509-check"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
  - package-ecosystem: "rust-toolchain"
    directory: "/"
    schedule:
      interval: "monthly"
