[workspace]
members = ["e2e-identity", "jwt", "ffi", "cli", "acme"]
resolver = "2"

[patch.crates-io.biscuit]
git = "https://github.com/beltram/biscuit"
tag = "v0.6.1-pre.core-crypto-0.7.0"

[patch.crates-io.jwt-simple]
git = "https://github.com/wireapp/rust-jwt-simple"
tag = "v0.11.4-pre.core-crypto-0.7.0"
