[workspace]
members = ["e2e-identity", "jwt", "ffi", "cli", "acme"]
resolver = "2"

[patch.crates-io.biscuit]
git = "https://github.com/beltram/biscuit"
tag = "v0.6.0-pre.core-crypto-0.6.0"

[patch.crates-io.jwt-simple]
git = "https://github.com/wireapp/rust-jwt-simple"
tag = "v0.11.4-pre.core-crypto-0.7.0"

[patch.crates-io.rcgen]
git = "https://github.com/wireapp/rcgen"
tag = "v1.2.0-pre.core-crypto-0.6.0"

[patch.crates-io.x509-parser]
git = "https://github.com/wireapp/x509-parser"
tag = "v1.0.2-pre.core-crypto-0.6.0"
