[package]
name = "rusty-jwt-tools"
description = "Utilities to handle JWTs"
version = "0.2.0"
edition = "2021"
repository = "https://github.com/wireapp/rusty-jwt-tools"
license = "MPL-2.0"
publish = false

[lib]
name = "rusty_jwt_tools"
crate-type = ["cdylib", "rlib"]

[dependencies]
thiserror = "1"
serde = "1"
base64 = "0.21.0"
uuid = { version = "1.1", features = ["v4"] }
p256 = "0.12"
p384 = "0.12"
sec1 = "0.3"
url = { version = "2.3", features = ["serde"] }
serde_json = "1.0"
sha2 = "0.10"
chrono = "=0.4.23"
either = { version = "1.8", features = ["serde"] }
time = { version = "0.3", features = ["serde", "serde-well-known", "wasm-bindgen"] }
json-patch = "0.3"
biscuit = "0.6.0-beta1"
rand = "0.8"
rand_chacha = "0.3"
jwt-simple = "0.11.3"
zeroize = { version = "1.5", features = ["zeroize_derive"] }
# Fixes a cyclic dependency on getrandom (see https://github.com/tkaitchuck/aHash/issues/95#issuecomment-874150078)
indexmap = "=1.6.2"

[dev-dependencies]
wasm-bindgen-test = "0.3"
rstest = "0.16"
rstest_reuse = "0.5"
serde_json = "1.0"
ed25519-compact = "2.0"
fluvio-wasm-timer = "0.2.5"
time = { version = "0.3", features = ["macros"] }
reqwest = { version = "0.11", features = ["json"], default_features = false }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
josekit = "0.8"
