[package]
name = "rusty-jwt-tools"
description = "Utilities to handle JWTs"
version = "0.8.1"
edition = "2021"
repository = "https://github.com/wireapp/rusty-jwt-tools"
license = "MPL-2.0"
publish = false

[lib]
name = "rusty_jwt_tools"
crate-type = ["cdylib", "rlib"]

[dependencies]
thiserror = "1"
serde = "1"
base64 = "0.21"
uuid = { version = "1.6", features = ["v4"] }
p256 = "0.13"
p384 = "0.13"
sec1 = "0.7"
url = { version = "2.5", features = ["serde"] }
serde_json = "1.0"
sha2 = "0.10"
either = { version = "1.8", features = ["serde"] }
time = { version = "0.3", features = ["serde", "serde-well-known", "wasm-bindgen"] }
json-patch = "0.3"
rand = "0.8"
rand_chacha = "0.3"
jwt-simple = { workspace = true }
zeroize = { version = "1.7", features = ["zeroize_derive"] }
biscuit = { version = "0.6.0-beta1", optional = true }
getrandom = { version = "0.2.8", features = ["js"] }
derive_more = { version = "0.99.17", features = ["from", "into", "deref"] }
const_format = "0.2"
lazy_static = "1.4"
percent-encoding = "2.3"

[dev-dependencies]
wasm-bindgen-test = "0.3"
rstest = "0.18"
rstest_reuse = "0.6"
serde_json = "1.0"
ed25519-compact = "2.0"
fluvio-wasm-timer = "0.2.5"
time = { version = "0.3", features = ["macros"] }
reqwest = { version = "0.11", features = ["json"], default_features = false }

[target.'cfg(not(target_family = "wasm"))'.dev-dependencies]
josekit = "0.8"

[features]
jwe = ["biscuit"]
test-utils = ["jwt-simple/rsa"]
