[package]
name = "rusty-acme"
description = "ACME types"
version = "0.4.2"
edition = "2021"
repository = "https://github.com/wireapp/rusty-jwt-tools"
license = "MPL-2.0"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
serde = "1.0"
serde_json = "1.0"
thiserror = "1.0"
rusty-jwt-tools = { version = "0.4.2", path = "../jwt" }
jwt-simple = "0.11.3"
base64 = "0.21"
url = { version = "2.3", features = ["serde"] }
time = { version = "0.3", features = ["serde", "serde-well-known", "wasm-bindgen"] }
x509-cert = "0.2"
oid-registry = "0.6"
asn1-rs = "0.5"
signature = "2"
ed25519-compact = "2.0"
p256 = "0.13"
p384 = "0.13"
pem = "2.0"
getrandom = { version = "0.2.8", features = ["js"] }

[dev-dependencies]
wasm-bindgen-test = "0.3"
