name: Rust compile & test

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: RUSTDOCFLAGS="-D warnings" cargo doc --all --no-deps

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: ensure tags are signed
        run: |
          if [[ ${{ github.ref_type }} == tag ]]; then
            git fetch -f origin ${{ github.ref }}:${{ github.ref }}
            git cat-file tag ${{ github.ref_name }} | grep -q -- '-----BEGIN PGP SIGNATURE-----'
          fi
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          target: wasm32-unknown-unknown
      - run: cargo clippy --locked --all-targets
      - run: cargo clippy --locked --target wasm32-unknown-unknown
      - run: cargo check --locked --all-targets
      - run: cargo check --locked --all-targets --target wasm32-unknown-unknown

  fmt-check:
     runs-on: ubuntu-latest
     steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          toolchain: nightly
      - run: cargo +nightly fmt --all -- --check

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: taiki-e/install-action@nextest
      - run: make all RELEASE=1
      - run: make test RELEASE=1
      - run: make ffi-test RELEASE=1

  wasm-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - name: WASM build
        run: wasm-pack build --release --target web jwt
      - name: WASM test
        run: wasm-pack test --release --headless --chrome jwt

  hack:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: taiki-e/install-action@cargo-hack
      - name: cargo/hack (verify features compile in isolation)
        run: cargo hack check --each-feature --no-dev-deps
